---
---
<header>
    <h1>Contador</h1>
</header>

<style>
    header{
   
        text-align: center;
        width: 100%;
        max-width: 1024px;
        padding: 20px;
    }

    h1{
        color: white;
    }

</style>

