---
---
<header>
    <h1>Contador</h1>
    <ul>
        <li><a href="#">inicio</a></li>
        <li><a href="#">Empezar</a></li>
        <li><a href="#">Contar</a></li>
    </ul>
</header>

<style>
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1024px;
        padding: 20px;
    }

    h1{
        color: white;
    }

    ul{
        display: flex;
        gap: 20px;
    }

    li{
        list-style: none;
    }

    li a{
        text-decoration: none;
        color: white;
    }
</style>

